
@import "tailwindcss";

@theme {
    --pokemon-yellow: #F8D94E;
    --pokemon-blue:   #3B5CA8;

    --pokemon-red:    #D86A58;
    --text: #ffffff;
    --surface: #3498DB;

    --poke-stroke: #2a75bb;


    --font-pokemon: "Pokemon Solid", ui-sans-serif, system-ui, sans-serif;
    --font-body:    "Nunito Sans", ui-sans-serif, system-ui, sans-serif;
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;

    --color-text: var(--text);
    --color-pokemon-yellow: var(--pokemon-yellow);
    --color-pokemon-blue:   var(--pokemon-blue);
    --color-pokemon-red:    var(--pokemon-red);

    --color-surface:   var(--surface);
}


.dark-mode {
    --pokemon-yellow: #F7D64A;
    --pokemon-blue:   #1E3A8A;
    --pokemon-red:    #C85C4C;
    --surface:   #132A4A;
}


@layer base {
    html {
        font-family: var(--font-body);
        color: var(--color-text);
        background: var(--color-surface);
    }

    body {
        background-color: var(--color-surface);

    }
}

@layer utilities {
    .font-heading { font-family: var(--font-pokemon); }
    .font-body    { font-family: var(--font-body); }
    .font-ui      { font-family: var(--font-poppins); }
}


@layer components {
    .btn {
        @apply inline-flex items-center justify-center rounded-lg px-5 py-3
        font-semibold transition active:scale-95 hover:cursor-pointer;
        font-family: var(--font-poppins);
    }

    .title {
        @apply text-pokemon-yellow tracking-widest font-pokemon ;
    }

    .ui-label {
        @apply text-pokemon-yellow text-2xl font-semibold;
        font-family: var(--font-poppins);
        -webkit-text-stroke: 5px var(--pokemon-blue);
        paint-order: stroke fill;
    }

    .title-outline { -webkit-text-stroke: 10px var(--pokemon-blue); paint-order: stroke fill; }

    .btn-primary {
        @apply bg-[var(--color-pokemon-yellow)] text-[color:var(--color-pokemon-blue)];
    }

    .btn-primary:hover { filter: brightness(1.08); }

    .btn-normal {
        @apply bg-[var(--color-pokemon-blue)] text-[color:var(--color-text)];
    }

    .hotkey {
        @apply inline-flex items-center justify-start gap-2 border border-[var(--color-pokemon-blue)] rounded-lg py-2 px-3 leading-none;
    }

}
